._src_components_App__app {
  -webkit-text-size-adjust: none;
          text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
}

._src_components_App__hr {
  margin: 40px 0;
  height: 1px;
  border: 0;
  background: #ccc;
}

._src_components_0_Logo_Logo__logo {
  background-image: url("./logo.svg");
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}

._src_components_1_ScopedSelectors_ScopedSelectors__root {
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}

._src_components_1_ScopedSelectors_ScopedSelectors__text {
  color: #777;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}

._src_components_2_GlobalSelectors_GlobalSelectors__root {
  border-width: 2px;
  border-style: solid;
  border-color: brown;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}

._src_components_2_GlobalSelectors_GlobalSelectors__root p {
  color: brown;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}

._src_components_shared_Snippet_Snippet__root {
  margin-top: 32px;
}

._src_components_shared_Snippet_Snippet__output {
  background: white;
  color: #333;
  max-width: 700px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #003957;
  border-top-width: 0;
}

._src_components_shared_Snippet_Snippet__outputContent {
  padding: 40px 30px;
}

._src_components_shared_Snippet_Snippet__file {
  background: #003957;
  color: rgba(255, 255, 255, 0.9);
  max-width: 700px;
  border-radius: 10px;
  margin-bottom: 20px;
}

._src_components_shared_Snippet_Snippet__fileName {
  background: #011E2D;
  color: #00B37D;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
}

._src_components_shared_Snippet_Snippet__pre {
  overflow: auto;
  font-family: menlo, consolas, monospace;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 20px 20px;
}

._src_components_shared_styles_layout__box {
  border-width: 2px;
  border-style: solid;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}
._src_components_shared_styles_typography__heading {
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}
._src_components_4_CompositionOverrides_CompositionOverrides__root {
  border-style: dotted;
  border-color: green;
}

._src_components_4_CompositionOverrides_CompositionOverrides__text {
  font-weight: 200;
  color: green;
}

@-webkit-keyframes _src_components_shared_styles_animations__bounce {
  33% { -webkit-transform: translateY(-20px); transform: translateY(-20px); }
  66% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}

@keyframes _src_components_shared_styles_animations__bounce {
  33% { -webkit-transform: translateY(-20px); transform: translateY(-20px); }
  66% { -webkit-transform: translateY(0px); transform: translateY(0px); }
}

._src_components_shared_styles_animations__bounce {
  -webkit-animation: _src_components_shared_styles_animations__bounce 1s infinite ease-in-out;
          animation: _src_components_shared_styles_animations__bounce 1s infinite ease-in-out;
}
._src_components_5_ScopedAnimations_ScopedAnimations__root {
  padding: 20px 10px;
}

._src_components_5_ScopedAnimations_ScopedAnimations__ball {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: rgb(102, 51, 153);
}

._src_components_shared_styles_layout__box {
  border-width: 2px;
  border-style: solid;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}
._src_components_shared_styles_typography__heading {
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}
._src_components_3_ClassComposition_StyleVariantB_StyleVariantB__root {
  border-color: blue;
}

._src_components_3_ClassComposition_StyleVariantB_StyleVariantB__text {
  color: blue;
}

._src_components_shared_styles_layout__box {
  border-width: 2px;
  border-style: solid;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}
._src_components_shared_styles_typography__heading {
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}
._src_components_3_ClassComposition_StyleVariantA_StyleVariantA__root {
  border-color: red;
}

._src_components_3_ClassComposition_StyleVariantA_StyleVariantA__text {
  color: red;
}
