._App__app {
  text-size-adjust: none;
  font-family: helvetica, arial, sans-serif;
  line-height: 200%;
  padding: 6px 20px 30px;
}

._App__hr {
  margin: 40px 0;
  height: 1px;
  border: 0;
  background: #ccc;
}

._Logo__logo {
  /* todo: fix rewriteUrl error and use url(./logo.svg) */
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
}

._ScopedSelectors__root {
  border-width: 2px;
  border-style: solid;
  border-color: #777;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}

._ScopedSelectors__text {
  color: #777;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}

._GlobalSelectors__root {
  border-width: 2px;
  border-style: solid;
  border-color: brown;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}

._GlobalSelectors__root p {
  color: brown;
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}

._Snippet__root {
  margin-top: 32px;
}

._Snippet__output {
  background: white;
  color: #333;
  max-width: 700px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #003957;
  border-top-width: 0;
}

._Snippet__outputContent {
  padding: 40px 30px;
}

._Snippet__file {
  background: #003957;
  color: rgba(255, 255, 255, 0.9);
  max-width: 700px;
  border-radius: 10px;
  margin-bottom: 20px;
}

._Snippet__fileName {
  background: #011E2D;
  color: #00B37D;
  padding: 10px 20px;
  border-radius: 10px 10px 0 0;
}

._Snippet__pre {
  overflow: auto;
  font-family: menlo, consolas, monospace;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 20px 20px;
}

@keyframes _shared_styles_animations__bounce {
  33% { transform: translateY(-20px); }
  66% { transform: translateY(0px); }
}

._shared_styles_animations__bounce {
  animation: _shared_styles_animations__bounce 1s infinite ease-in-out;
}
._ScopedAnimations__root {
  padding: 20px 10px;
}

._ScopedAnimations__ball {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: rebeccapurple;
}

._shared_styles_layout__box {
  border-width: 2px;
  border-style: solid;
  padding: 0 20px;
  margin: 0 6px;
  max-width: 400px;
}
._shared_styles_typography__heading {
  font-size: 24px;
  font-family: helvetica, arial, sans-serif;
  font-weight: 600;
}
._CompositionOverrides__root {
  border-style: dotted;
  border-color: green;
}

._CompositionOverrides__text {
  font-weight: 200;
  color: green;
}

._StyleVariantA__root {
  border-color: red;
}

._StyleVariantA__text {
  color: red;
}

._StyleVariantB__root {
  border-color: blue;
}

._StyleVariantB__text {
  color: blue;
}
